.add-column {
    min-height: 40px;
    line-height: 40px; 
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
}
.add-column:hover {
    background-color: rgba(0, 0, 0, 1);
}

.add-column.state-opened {
    background-color: #e3e3e3;
    text-align: left;
    padding: 10px 11px 5px 11px;
    line-height: normal;
    cursor: auto;
    color: black;
}

.add-column .title {
    color: #efefef;
}

.add-column .validation-msg {
    font-size: 15px;
    margin-top: 2px;
    padding-left: 5px;
}

.add-column .input-wrapper {
    border-radius: 3px;
    background-color: #fbfbfb;
    border: 2px solid #1581c9;
    padding: 5px 8px;
}