.kanban-column {
    min-height: 50px;
    padding: 5px 0 0;
    max-height: 100%; 
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    
    background-color: #e3e3e3;
}

.kanban-column > .heading {
    padding: 5px 11px 4px 11px;
    font-size: 17px;
    font-weight: bold;
    color: #1d2934;
}

.kanban-column > .content {
    overflow-y: auto;
    min-height: 5px;
}