.kanban-column {
    min-height: 50px;
    padding: 5px 0;
    max-height: 100%; 
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    
    background-color: aliceblue;
}

.kanban-column > .heading {
    padding: 5px 11px 10px 11px;
    font-size: 18px;
    font-weight: bold;
}

.kanban-column > .content {
    overflow-y: auto;
}

.kanban-column .card {
    background-color: aquamarine;
    margin: 5px 10px;
    padding: 12px 15px;
}