.column-wrapper {
    padding-right: 10px;
}
.column {
    min-height: 50px;
    /* max-height: 100%; */
    max-height: 400px;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    
    background-color: #e3e3e3;
    padding: 3px;
}

.column.state-dragging {
    transform: rotate(2deg);
    z-index: 1000;
}

.column .content {
    overflow-y: auto;
    min-height: 5px;
    position: relative;
}

.column .content .shadow {
    border-radius: 3px;
    background-color: lightgrey;
}

/* Scrollbar */
/* width */
.column .content::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.column .content::-webkit-scrollbar-track {
    background: #cdcdcd;
    border-radius: 3px;
    /* background-color: #ecf0f1; */
}

/* Handle */
.column .content::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 3px;
}

/* Handle on hover */
.column .content::-webkit-scrollbar-thumb:hover {
    background-color: #a1a0a0;
}
