::-webkit-scrollbar { 
    display: none; 
}

body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: auto;
    overflow-y: hidden;
}

.kanban {
    height: 100vh;
    min-width: min-content;
    padding: 15px 25px;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;

    background-color: lightgrey;
}

.kanban > .column {
    width: 250px;
    box-sizing: border-box;
    border-radius: 3px;
}

.kanban > .add-column {
    height: 40px;
    line-height: 40px; 
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}